.help-block {
	color: red;
}
.img-header-avatar {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
.hidden {
	display: none;
}
.qp-readmore {
	cursor: pointer;
}
.avatar {
	border-radius: 50%;
}
.comment-avatar {
	width: 40px;
	height: 40px;
}
.comment-loading-img {
	position: absolute;
    margin: auto;
    top: 154px;
    left: 0;
    right: 0;
    bottom: 0;
}